* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  background-image: linear-gradient(
      to left,
      rgba(13, 47, 182, 0.004),
      rgba(5, 121, 223, 0.738)
    ),
    url("../images/img.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmix(140px, 1fr));
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
  justify-content: center;
}

.heading {
  margin: auto;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  grid-column: 3/7;
  color: blue;
  opacity: 0.8;
}

.myform {
  /* border: 2px solid red; */
  grid-column: 3 / 5;
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-image: linear-gradient(
    to right top,
    rgba(163, 162, 162, 0.681),
    rgba(5, 121, 223, 0.971)
  );
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.607);
  border-radius: 0.2rem;
}

.heading-1 {
  grid-column: 3/5;
  grid-row: 1/2;
  align-self: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 300;
}

.form {
  /* border: 2px solid red; */
  grid-row: 2/-1;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formgroup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.formgroup-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  /* background-color: red; */
}
#tagline {
  color: rgb(222, 15, 0);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: rgba(240, 248, 255, 0.545);
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.445);
  border-radius: 1px;
}
.formgroup input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  color: white;
  transition: all 0.3s;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.formgroup.error input {
  border-bottom: 2px solid red;
}

.formgroup.right input {
  border-bottom: 2px solid rgb(0, 225, 0);
}

.formgroup input {
  width: 60%;
}

.formradio {
  display: flex;
  align-items: center;
  margin-left: 100px;
  width: 100%;
}
.radio {
  display: flex;
  align-items: center;
}
.formradio label {
  margin: 0 10px;
}
.formradio label span {
  margin: 0 10px;
  color: whitesmoke;
}

input:placeholder-shown {
  color: white;
}
input::placeholder {
  color: whitesmoke;
}

.icon {
  visibility: hidden;
  font-size: 2rem;
}

.show {
  visibility: visible;
}

.btn {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 255, 255, 0.5);
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.445);
  transition: all 0.2s;
}

.btn:active {
  box-shadow: 0.2rem 0.2rem 0.9rem rgba(0, 0, 0, 0.445);
}

label > i {
  font-size: 2rem;
  color: rgba(11, 255, 247, 0.87);
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50.5%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 40.5%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .myform {
    /* border: 2px solid red; */
    grid-column: 1 / -1;
  }
}
