<ul>
    <li>
        <a href="/">Sign in</a>
    </li>
    <li>
        <a href="login">Log in</a>
    </li>
    <li>
        <a href="logout">Log out</a>
    </li>
    <li>
        <a href="secret">secret</a>
    </li>
</ul>